.form{
	display:flex;
	background-color:none;
	border:1px solid;
	border-radius:5px;
	}

#tombol{
	padding:12px;
	text-decoration:bold;
	}
	
#result{
	width:55%;
	height: auto;
	padding: 16px;
	border:1px solid;
	border-radius:5px;
	background-color:#3498db;
	color:#fff;
	}
	
@font-face {
  font-family: malvie;
  src: url(Malvie.otf);
}

#title{
	font-family:malvie;
	}